body{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    background-color: yellow;
}
p{
    text-align: center;
}
#div{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-top: 3%;
}


@media (min-width: 769px){
    body {
        background-color: rosybrown;
    }
    #div{
        background-color: aqua;
    }
}